<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>双向绑定测试</title>
    <script src="mia.js"></script>
</head>

<body>
    <div id="el">
        <div>
            <h1>{{ title }} 和 {{ content }}</h1>
            <input type="text" v-model="title" style="width: 250px; height: 20px; border: 1px solid red"
                placeholder="输入测试绑定title">
            <input type="text" v-model="title" style="width: 250px; height: 20px; border: 1px solid red"
                placeholder="输入测试绑定title">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" v-model="lever">
                Checkbox : {{ lever }}
            </label>
        </div>

        <div>
            <h1>多级引用测试</h1>
            <h1>{{ more.m3 }}</h1>
            <input type="text" v-model="more.m3" style="width: 250px; height: 20px; border: 1px solid red"
                placeholder="输入测试绑定二级">
        </div>



        <div>
            <h1>radio测试，以及多级引用测试</h1>
            <span>选择的是<span style="color: rgb(247, 76, 46); background-color: cyan;">{{ radio.r1 }}</span>, 请选择</span>
            <label>
                <input type="radio" name="radio.r1" id="input" value="东瓜" v-model="radio.r1">
                东瓜
            </label>
            <label>
                <input type="radio" name="radio.r1" id="input" value="西瓜" v-model="radio.r1">
                西瓜
            </label>
            <label>
                <input type="radio" name="radio.r1" id="input" value="南瓜" v-model="radio.r1">
                南瓜
            </label>
            <label>
                <input type="radio" name="radio.r1" id="input" value="北瓜" v-model="radio.r1">
                北瓜(我们那这样称呼南瓜)
            </label>
        </div>

        <div>
            <h1>多种方法测试</h1>
            <button v-on:click="say1">方法测试</button>

            <button v-on:click="say2('毛毛虫', '西瓜虫', 421, '蜜蜂')">带参方法测试</button>

            <button v-on:click="say3(title, more.m1)">带引用对象参数方法测试</button>
        </div>


        <div>
            <h1>checkbox数组测试</h1>
            <label>
                <input type="checkbox" name="cb1" v-model="cBoxs" value="大白兔">大白兔
            </label>
            <label>
                <input type="checkbox" name="cb2" v-model="cBoxs" value="小红帽">小红帽
            </label>
            <label>
                <input type="checkbox" name="cb3" v-model="cBoxs" value="中之人">中之人
            </label>
            所选择的是：
            <span style="color: chocolate;">{{ cBoxs }}</span>
        </div>


        <div>
            <h1>v-for测试</h1>

            <select name="city" v-model="city">
                <option v-for="city in cities" value="city">{{ city }}</option>
            </select>
        </div>
    </div>
</body>

<script type="text/javascript">
    const option = {
        el: "#el",
        data: {
            title: "你好！",
            content: "两种测试",
            lever: true,
            more: {
                m1: "哈哈",
                m2: "呵呵"
            },
            radio: {
                r1: "西瓜"
            },
            cBoxs: ["小红帽"],
            cities: ["武汉市", "浣熊市", "暗区"]
        },
        method: {
            say1: function () {
                alert("固定的无参方法调用");
            },
            say2: function (str1, str2, str3, str4) {
                alert("参数1:" + str1 + ",参数2:" + str2 + ",参数3:" + str3 + ",参数4:" + str4);
            },
            say3: function (title, arg2) {
                alert("标题:" + title + ",参数2:" + arg2);
            }
        }
    }

    let mia = new MIA(option);

    //定时器，无关核心
    let step = 0;
    // let timer = setInterval(() => {
    //     step += 1;
    //     mia.data.content = step + "";
    // }, 1000)
</script>

</html>